! __   __                                                              
!/\ \ /\ \                                                             
!\ `\`\/'/'  _ __    __    ____    ___   __  __    ___     __    ____  
! `\/ > <   /\`'__\/'__`\ /',__\  / __`\/\ \/\ \  /'___\ /'__`\ /',__\ 
! __ \/'/\`\\ \ \//\  __//\__, `\/\ \L\ \ \ \_\ \/\ \__//\  __//\__, `\
!/\_\/\_\\ \_\ \_\\ \____\/\____/\ \____/\ \____/\ \____\ \____\/\____/
!\/_/\/_/ \/_/\/_/ \/____/\/___/  \/___/  \/___/  \/____/\/____/\/___/ 

!ROFI SETUP
rofi.hide-scrollbar: true

!COLORSCHMES
! special
*.foreground:   #ffffff
*.background:  #1d1f21

*.solid-background: #1d1f21
*.cursorColor:  #ffffff

*.highlight:    #00ffab

! black
*.color0:       #051519
*.color8:       #323b3e

! red
*.color1:       #f8818e
*.color9:       #fb3d66

! green
*.color2:       #7b9679
*.color10:      #6d8c63

! yellow
*.color3:       #bf946b
*.color11:      #e4cd7b

! blue
*.color4:       #8b9eb2
*.color12:      #b0ecee

! magenta
*.color5:       #796e7f
*.color13:      #cdafd9

! cyan
*.color6:       #7b8e93
*.color14:      #556468

! white
*.color7:       #b3bec1
*.color15:      #f7f8f8

Xft.autohint: 0
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.autohint: false
